apiVersion: apps/v1
kind: Deployment # Kubernetes resource kind we are creating
metadata:
  name: plant-management-back
spec:
  selector:
    matchLabels:
      app: plant-management-back
  replicas: 5
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: plant-management-back
    spec:
      containers:
        - name: plant-management-back
          image: soussisalma/backend:50
          ports:
            - containerPort: 8090 
          env:   # Setting Enviornmental Variables
            - name: DB_HOST   # Setting Database host address from configMap
              valueFrom:
                configMapKeyRef:
                  name: postgres-conf  # name of configMap
                  key: host
            - name: DB_NAME  # Setting Database name from configMap
              valueFrom:
                configMapKeyRef:
                  name: postgres-conf
                  key: name
            - name: POSTGRES_USER  # Setting Database username from Secret
              valueFrom:
                secretKeyRef:
                  name: postgres-secret # Secret Name
                  key: postgres_user
            - name: POSTGRES_PASSWORD # Setting Database password from Secret
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: postgres_password
      imagePullSecrets:
      - name: regcred
