<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="mdi mdi-home menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/app/plant/all">
        <i class="mdi mdi mdi-pine-tree menu-icon"></i>
        <span class="menu-title">Plants</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/app/category/all">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Categories</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/app/comment/all">
        <i class="mdi mdi-comment-multiple-outline menu-icon"></i>
        <span class="menu-title">Comments</span>
      </a>
    <li class="nav-item">
        <a class="nav-link" href="/app/user/all">
          <i class="mdi mdi-account menu-icon"></i>
          <span class="menu-title">Users</span>
        </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/app/bill/all">
        <i class="mdi mdi-cash-multiple menu-icon"></i>
        <span class="menu-title">Bills</span>
      </a>
    </li>
  </li>
  </ul>
</nav>