<div
  class="page-header section-dark"
  style="background-image: url('assets/img/antoine-barres.jpg')"
>
  <div class="filter"></div>
  <div class="content-center">
    <div class="container">
      <div class="title-brand">
        <h1 class="presentation-title">Plant Management</h1>
      </div>

      <h2 class="presentation-subtitle text-center">
        The best plant sell website
      </h2>
    </div>
  </div>
  <div
    class="moving-clouds"
    style="background-image: url('assets/img/clouds.png')"
  ></div>
</div>
<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">Let's talk product</h2>
          <h5 class="description">
            This is the paragraph where you can write more details about your
            product. Keep you user engaged by providing meaningful information.
          </h5>
        </div>
      </div>
      <div class="section section-overview">
        <div class="container-fluid">
          <div class="space-top"></div>
          <div class="row">
            <div class="col-sm-3">
              <div class="card" style="background-color: rgb(121, 225, 121)">
                <div class="card-body text-center">
                  <div class="card-icon">
                    <i
                      class="nc-icon nc-money-coins"
                      style="
                        font-size: 40px;
                        width: 105px;
                        border-radius: 50%;
                        height: 105px;
                        line-height: 145px;
                        color: white;
                      "
                    ></i>
                  </div>
                  <h4 class="card-title" style="color: white">Save Money</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card" style="background-color: rgb(121, 225, 121)">
                <div class="card-body text-center">
                  <div class="card-icon">
                    <i
                      class="nc-icon nc-money-coins"
                      style="
                        font-size: 40px;
                        width: 105px;
                        border-radius: 50%;
                        height: 105px;
                        line-height: 145px;
                        color: white;
                      "
                    ></i>
                  </div>
                  <h4 class="card-title" style="color: white">Save Money</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card" style="background-color: rgb(121, 225, 121)">
                <div class="card-body text-center">
                  <div class="card-icon">
                    <i
                      class="nc-icon nc-money-coins"
                      style="
                        font-size: 40px;
                        width: 105px;
                        border-radius: 50%;
                        height: 105px;
                        line-height: 145px;
                        color: white;
                      "
                    ></i>
                  </div>
                  <h4 class="card-title" style="color: white">Save Money</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card" style="background-color: rgb(121, 225, 121)">
                <div class="card-body text-center">
                  <div class="card-icon">
                    <i
                      class="nc-icon nc-money-coins"
                      style="
                        font-size: 40px;
                        width: 105px;
                        border-radius: 50%;
                        height: 105px;
                        line-height: 145px;
                        color: white;
                      "
                    ></i>
                  </div>
                  <h4 class="card-title" style="color: white">Save Money</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card" style="background-color: rgb(121, 225, 121)">
                <div class="card-body text-center">
                  <div class="card-icon">
                    <i
                      class="nc-icon nc-money-coins"
                      style="
                        font-size: 40px;
                        width: 105px;
                        border-radius: 50%;
                        height: 105px;
                        line-height: 145px;
                        color: white;
                      "
                    ></i>
                  </div>
                  <h4 class="card-title" style="color: white">Save Money</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card" style="background-color: rgb(121, 225, 121)">
                <div class="card-body text-center">
                  <div class="card-icon">
                    <i
                      class="nc-icon nc-money-coins"
                      style="
                        font-size: 40px;
                        width: 105px;
                        border-radius: 50%;
                        height: 105px;
                        line-height: 145px;
                        color: white;
                      "
                    ></i>
                  </div>
                  <h4 class="card-title" style="color: white">Save Money</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card" style="background-color: rgb(121, 225, 121)">
                <div class="card-body text-center">
                  <div class="card-icon">
                    <i
                      class="nc-icon nc-money-coins"
                      style="
                        font-size: 40px;
                        width: 105px;
                        border-radius: 50%;
                        height: 105px;
                        line-height: 145px;
                        color: white;
                      "
                    ></i>
                  </div>
                  <h4 class="card-title" style="color: white">Save Money</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card" style="background-color: rgb(121, 225, 121)">
                <div class="card-body text-center">
                  <div class="card-icon">
                    <i
                      class="nc-icon nc-money-coins"
                      style="
                        font-size: 40px;
                        width: 105px;
                        border-radius: 50%;
                        height: 105px;
                        line-height: 145px;
                        color: white;
                      "
                    ></i>
                  </div>
                  <h4 class="card-title" style="color: white">Save Money</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-dark text-center">
    <div class="container">
      <h2 class="title">Let's talk about lates commers</h2>
      <div class="">
        <div class="products">
          <div class="space-top"></div>
          <br /><br />
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="card card-product card-plain">
                <div class="card-image">
                  <a href="javascript:void(0)"
                    ><img
                      alt="Rounded Image"
                      class="img-rounded img-responsive"
                      src="../../../assets/img/plant/bulksplash-alvannee-1-zNyE_6qPQ.jpg"
                  /></a>
                  <div class="card-body">
                    <div class="card-description">
                      <h5 class="card-title">One Shoulder Dress</h5>
                      <p class="card-description">Dresses &amp; Skirts</p>
                    </div>
                    <div class="price">
                      <h5>2.900 €</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="card card-product card-plain">
                <div class="card-image">
                  <a href="javascript:void(0)"
                    ><img
                      alt="Rounded Image"
                      class="img-rounded img-responsive"
                      src="../../../assets/img/plant/bulksplash-anniespratt-JruJFy08KB8.jpg"
                  /></a>
                  <div class="card-body">
                    <div class="card-description">
                      <h5 class="card-title">Stretch-Knit Dress</h5>
                      <p class="card-description">Dresses &amp; Skirts</p>
                    </div>
                    <div class="price">
                      <h5>1.700 €</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="card card-product card-plain">
                <div class="card-image">
                  <a href="javascript:void(0)"
                    ><img
                      alt="Rounded Image"
                      class="img-rounded img-responsive"
                      src="../../../assets/img/plant/bulksplash-artandsoil-wiLkXbIxEAM.jpg"
                  /></a>
                  <div class="card-body">
                    <div class="card-description">
                      <h5 class="card-title">Chrystal Sheer Dress</h5>
                      <p class="card-description">Dresses &amp; Skirts</p>
                    </div>
                    <div class="price" style="color: antiquewhite">
                      <h5>1.500 €</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="card card-product card-plain">
                <div class="card-image">
                  <a href="javascript:void(0)"
                    ><img
                      alt="Rounded Image"
                      class="img-rounded img-responsive"
                      src="../../../assets/img/plant/bulksplash-feeypflanzen-RHe-ebrSUTE.jpg"
                  /></a>
                  <div class="card-body">
                    <div class="card-description">
                      <h5 class="card-title">One Shoulder Dress</h5>
                      <p class="card-description">Dresses &amp; Skirts</p>
                    </div>
                    <div class="price">
                      <h5>2.600 €</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="card card-product card-plain">
                <div class="card-image">
                  <a href="javascript:void(0)"
                    ><img
                      alt="Rounded Image"
                      class="img-rounded img-responsive"
                      src="../../../assets/img/plant/bulksplash-zelmarioson-lr5SN8qn3KI.jpg"
                  /></a>
                  <div class="card-body">
                    <div class="card-description">
                      <h5 class="card-title">Glass Beads Skirt</h5>
                      <p class="card-description">Dresses &amp; Skirts</p>
                    </div>
                    <div class="price">
                      <h5>7.500 DT</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="card card-product card-plain">
                <div class="card-image">
                  <a href="javascript:void(0)"
                    ><img
                      alt="Rounded Image"
                      class="img-rounded img-responsive"
                      src="../../../assets/img/plant/bulksplash-feeypflanzen-EASjBRt6gi0.jpg"
                  /></a>
                  <div class="card-body">
                    <div class="card-description">
                      <h5 class="card-title">Velvet Mini Dress</h5>
                      <p class="card-description">Dresses &amp; Skirts</p>
                    </div>
                    <div class="price">
                      <h5>3.500 €</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 offset-md-4">
              <a
                href="javascript:void(0)"
                routerLink="/list"
                class="btn btn-round btn-outline-default"
                data-rotation-color="gray"
                data-toggle="morphing"
                id="successBtn"
                rel="tooltip"
                title="This is a morphing button"
              >
                Load more...
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="">
              <a href="#avatar"
                ><img
                  class="img-rounded img-responsive"
                  src="./assets/img/faces/clem-onojeghuo-3.jpg"
                  alt="..."
              /></a>
            </div>
            <div class="card-block">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title">Henry Ford</h4>
                  <h6 class="card-category">Product Manager</h6>
                </div>
              </a>
              <p class="card-description text-center">
                Teamwork is so important that it is virtually impossible for you
                to reach the heights of your capabilities or make the money that
                you want without becoming very good at it.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                ><i class="fa fa-twitter"></i
              ></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                ><i class="fa fa-google-plus"></i
              ></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                ><i class="fa fa-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="">
              <a href="#avatar"
                ><img
                  class="img-rounded img-responsive"
                  src="./assets/img/faces/joe-gardner-2.jpg"
                  alt="..."
              /></a>
            </div>
            <div class="card-block">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title">Sophie West</h4>
                  <h6 class="card-category">Designer</h6>
                </div>
              </a>
              <p class="card-description text-center">
                A group becomes a team when each member is sure enough of
                himself and his contribution to praise the skill of the others.
                No one can whistle a symphony. It takes an orchestra to play it.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                ><i class="fa fa-twitter"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="">
              <a href="#avatar"
                ><img
                  src="./assets/img/faces/erik-lucatero-2.jpg"
                  class="img-rounded img-responsive"
                  alt="..."
              /></a>
            </div>
            <div class="card-block">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title">Robert Orben</h4>
                  <h6 class="card-category">Developer</h6>
                </div>
              </a>
              <p class="card-description text-center">
                The strength of the team is each individual member. The strength
                of each member is the team. If you can laugh together, you can
                work together, silence isn’t golden, it’s deadly.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                ><i class="fa fa-twitter"></i
              ></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                ><i class="fa fa-google-plus"></i
              ></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                ><i class="fa fa-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <div _ngcontent-gxy-c2="" class="section landing-section">
    <div _ngcontent-gxy-c2="" class="container">
      <div _ngcontent-gxy-c2="" class="row">
        <div _ngcontent-gxy-c2="" class="col-md-8 ml-auto mr-auto">
          <h2 _ngcontent-gxy-c2="" class="text-center">Keep in touch?</h2>
          <form
            _ngcontent-gxy-c2=""
            class="contact-form ng-untouched ng-pristine ng-valid"
            novalidate=""
          >
            <div _ngcontent-gxy-c2="" class="row">
              <div _ngcontent-gxy-c2="" class="col-md-6">
                <label _ngcontent-gxy-c2="">Name</label
                ><input
                  _ngcontent-gxy-c2=""
                  class="form-control"
                  placeholder="Name"
                />
              </div>
              <div _ngcontent-gxy-c2="" class="col-md-6">
                <label _ngcontent-gxy-c2="">Email</label
                ><input
                  _ngcontent-gxy-c2=""
                  class="form-control"
                  placeholder="Email"
                />
              </div>
            </div>
            <label _ngcontent-gxy-c2="">Message</label
            ><textarea
              _ngcontent-gxy-c2=""
              class="form-control"
              placeholder="Tell us your thoughts and feelings..."
              rows="4"
            ></textarea>
            <div _ngcontent-gxy-c2="" class="row">
              <div _ngcontent-gxy-c2="" class="col-md-4 offset-md-4">
                <button
                  _ngcontent-gxy-c2=""
                  class="btn btn-danger btn-lg btn-fill"
                >
                  Send Message
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
