<div class="wrapper">
  <div
    class="page-header page-header-xs"
    style="background-image: url('./assets/img/antoine-barres.jpg')"
  >
    <div class="filter"></div>
  </div>
  <div class="main">
    <div class="section section-gray">
      <div class="container tim-container">
        <h4 class="title">Shopping Cart Table</h4>
        <div class="row">
          <div class="col-md-10 ml-auto mr-auto">
            <div class="table-responsive">
              <table class="table table-shopping">
                <thead>
                  <tr>
                    <th class="text-center"></th>
                    <th class="text-center">Product</th>
                    <th class="text-right">Price</th>
                    <th class="text-right">Quantity</th>
                    <th class="text-right">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <!---->
                  <tr class="ng-star-inserted">
                    <td>
                      <div class="img-container">
                        <img
                          alt="..."
                          src="../../../assets/img/plant/bulksplash-feeypflanzen-bwsTJMnhcwE.jpg"
                        />
                      </div>
                    </td>
                    <td class="td-product">
                      <strong>Get Shit Done Notebook</strong>
                      <p>Most beautiful agenda for the office.</p>
                    </td>
                    <td class="td-price"><small>€</small>49</td>
                    <td class="td-number td-quantity">
                      1
                      <div class="btn-group">
                        <button class="btn btn-sm btn-border btn-round">
                          -</button
                        ><button class="btn btn-sm btn-border btn-round">
                          +
                        </button>
                      </div>
                    </td>
                    <td class="td-number"><small>€</small>49</td>
                  </tr>
                  <tr class="ng-star-inserted">
                    <td>
                      <div class="img-container">
                        <img
                          alt="..."
                          src="../../../assets/img/plant/bulksplash-gabiontheroad-fWPyYuOq08g.jpg"
                        />
                      </div>
                    </td>
                    <td class="td-product">
                      <strong>Stylus</strong>
                      <p>
                        Design is not just what it looks like and feels like.
                        Design is how it works.
                      </p>
                    </td>
                    <td class="td-price"><small>€</small>499</td>
                    <td class="td-number td-quantity">
                      2
                      <div class="btn-group">
                        <button class="btn btn-sm btn-border btn-round">
                          -</button
                        ><button class="btn btn-sm btn-border btn-round">
                          +
                        </button>
                      </div>
                    </td>
                    <td class="td-number"><small>€</small>998</td>
                  </tr>
                  <tr class="ng-star-inserted">
                    <td>
                      <div class="img-container">
                        <img
                          alt="..."
                          src="../../../assets/img/plant/bulksplash-nordwood-LrAsfltinp0.jpg"
                        />
                      </div>
                    </td>
                    <td class="td-product">
                      <strong>Evernote iPad Stander</strong>
                      <p>
                        A groundbreaking Retina display. All-flash architecture.
                        Fourth-generation Intel processors.
                      </p>
                    </td>
                    <td class="td-price"><small>€</small>799</td>
                    <td class="td-number td-quantity">
                      1
                      <div class="btn-group">
                        <button class="btn btn-sm btn-border btn-round">
                          -</button
                        ><button class="btn btn-sm btn-border btn-round">
                          +
                        </button>
                      </div>
                    </td>
                    <td class="td-number"><small>€</small>799</td>
                  </tr>
                  <tr>
                    <td colspan="2"></td>
                    <td></td>
                    <td class="td-total">Total</td>
                    <td class="td-total">€1,846.00</td>
                  </tr>
                  <tr class="tr-actions">
                    <td colspan="3"></td>
                    <td class="text-right" colspan="2">
                      <button class="btn btn-danger btn-lg" type="button">
                        Complete Purchase
                        <i class="fa fa-chevron-right"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
